{% extends "template.twig" %}

{% block title %}Kare | test titel{% endblock %}
{% block content %}
<div>
    <p>Replace this section with the page's content. Make sure to check that all pieces put together it has the same
        continuity as the original HTML file. Also make sure all necessary js and css files are included in the
        template.twig file.</p>
</div>
{% endblock %}