{% extends "template.twig" %}

{% block title %}Admin | Add Product{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="box">
            <div class="box-body">
                <form action="#">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control" placeholder="Product Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ingredients</label>
                                    <textarea rows="5" cols="5" class="form-control"
                                        placeholder="Enter ingredients"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Benefits</label>
                                    <textarea rows="5" cols="5" class="form-control"
                                        placeholder="Enter benefits"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Application</label>
                                    <textarea rows="5" cols="5" class="form-control"
                                        placeholder="Enter application"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>Categories</label>
                                    <select class="form-control select2" multiple="multiple"
                                        data-placeholder="Select categories" style="width: 100%;">
                                        {% for category in categories %}
                                        <option value={{category[0]}}>{{category[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label>Concerns</label>
                                    <select class="form-control select2" multiple="multiple"
                                        data-placeholder="Select concerns" style="width: 100%;">
                                        {% for concern in concerns %}
                                        <option value={{concern[0]}}>{{concern[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="tags-default form-group">
                                    <label>Tags</label><br>
                                    <input type="text" value="" data-role="tagsinput"
                                        placeholder="Enter comma separated tags" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>30 ml</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹
                                        </div>
                                        <input type="text" class="form-control" placeholder="0" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>50 ml</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹
                                        </div>
                                        <input type="text" class="form-control" placeholder="10" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>100 ml</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹
                                        </div>
                                        <input type="text" class="form-control" placeholder="10" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>250 ml</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹
                                        </div>
                                        <input type="text" class="form-control" placeholder="10" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Media Files</label>
                                <div class="product-img text-left">
                                    {# <img src="../image   s/product/product-9.png" alt="" class="mb-15"> #}
                                    <div class="btn btn-light mb-20">
                                        <input type="file" class="upload form-control" required multiple>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <div class="radio-list">
                                    <label class="radio-inline p-0 mr-10">
                                        <div class="radio radio-info">
                                            <input type="radio" name="radio" id="radio1" value="option1">
                                            <label for="radio1">Published</label>
                                        </div>
                                    </label>
                                    <label class="radio-inline">
                                        <div class="radio radio-info">
                                            <input type="radio" name="radio" id="radio2" value="option2">
                                            <label for="radio2">Draft</label>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions mt-10">
                        <button type="submit" class="btn btn-primary"> <i class="fa fa-check"></i>
                            Save / Add</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}