{% extends "template.twig" %}

{% block title %}Admin | Product Details {% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="box box-body b-1 text-center no-shadow">
                            <img src="../images/product/Banana Hair Spa -Clary sage, Thyme 1.JPG" id="product-image"
                                class="img-fluid" alt="" />
                        </div>
                        <div class="pro-photos">
                            <div class="photos-item item-active">
                                <img src="../images/product/Banana Hair Spa -Clary sage, Thyme 1.JPG" alt="">
                            </div>
                            <div class="photos-item">
                                <img src="../images/product/Banana Hair Spa -Clary sage, Thyme 2.JPG" alt="">
                            </div>
                            <div class="photos-item">
                                <img src="../images/product/Banana Hair Spa -Clary sage, Thyme 3.JPG" alt="">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <h2 class="box-title mt-0">Almond Cream - Shea butter, Vit A</h2>
                        <div class="list-inline">
                            <a class="text-warning"><i class="mdi mdi-star"></i></a>
                            <a class="text-warning"><i class="mdi mdi-star"></i></a>
                            <a class="text-warning"><i class="mdi mdi-star"></i></a>
                            <a class="text-warning"><i class="mdi mdi-star"></i></a>
                            <a class="text-warning"><i class="mdi mdi-star"></i></a>(5)
                        </div>
                        <hr>


                        <!-- <div class="box"> -->
                        <div class="box-body">
                            <h4 class="box-title">Ingredients</h4>
                            <p>Infused with Aqua, Beeswax, Almond extract, Shea Butter, Gylcerine,
                                Sweet Almond Oil, and Vitamin A. </p>
                            <h4 class="box-title">Benefits</h4>
                            <p>Helps treat dry skin, rejuvenate skin, reduce scars and anti
                                ageing.Helps in deep moisturising and supple soft skin.</p>
                            <h4 class="box-title">Application</h4>
                            <p>After cleansing with water, apply the cream and massage gently for 2
                                - 5 mins. </p>
                            <h4 class="box-title">Prices</h4>
                            <div class="table-responsive">
                                <table class="table b-1">
                                    <thead class="bg-inverse">
                                        <tr>
                                            <th>50 mL</th>
                                            <th>100 mL</th>
                                            <th>250 mL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>645</td>
                                            <td>800</td>
                                            <td>1945</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h4 class="box-title mt-40">General Info</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Product Number</td>
                                        <td> FG1548952 </td>
                                    </tr>
                                    <tr>
                                        <td>Categories</td>
                                        <td>Hair creams, Hair Care</td>
                                    </tr>
                                    <tr>
                                        <td>Concerns</td>
                                        <td>Dry hair, Hairfall</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="box bg-transparent no-shadow">
                            <div class="box-header pt-0 px-0">
                                <h4 class="box-title">
                                    Customer Review
                                </h4>
                            </div>
                            <div class="box-body px-0">
                                <div class="review-slider owl-carousel">
                                    
                                    <div class="box box-solid bg-secondary">
                                        <div class="box-header">
                                            <h4 class="box-title"><strong>Anne Hathaway</strong></h4>
                                            <div class="d-flex text-warning align-items-center">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-empty"></i>
                                                <span class="text-fade ml-10">4.5</span>
                                            </div>
                                        </div>

                                        <div class="box-body">
                                            This show had me laughing for hours. Like ugly laughing. Like
                                            people
                                            from across the street knocking on my door asking if I'm okay
                                            because I was laughing so hard. I saw someone say there is no
                                            growth
                                            which is actually so untrue. I'm sure this show isn't intended
                                            for
                                            prudish people, it's about a woman who befriends a sex doll. You
                                            know what you're in for and it's so much more amazing than I
                                            thought!!

                                            The fact they got SO MUCH into less than 10 minutes is
                                            incredible.
                                        </div>
                                    </div>

                                    <div class="box box-solid bg-secondary">
                                        <div class="box-header">
                                            <h4 class="box-title"><strong>Anne </strong></h4>
                                            <div class="d-flex text-warning align-items-center">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-empty"></i>
                                                <span class="text-fade ml-10">4.5</span>
                                            </div>
                                        </div>

                                        <div class="box-body">
                                            This show had me laughing for hours. Like ugly laughing. Like
                                            people
                                            from across the street knocking on my door asking if I'm okay
                                            because I was laughing so hard. I saw someone say there is no
                                            growth
                                            which is actually so untrue. I'm sure this show isn't intended
                                            for
                                            prudish people, it's about a woman who befriends a sex doll. You
                                            know what you're in for and it's so much more amazing than I
                                            thought!!

                                            The fact they got SO MUCH into less than 10 minutes is
                                            incredible.
                                        </div>
                                    </div>

                                    <div class="box box-solid bg-secondary">
                                        <div class="box-header">
                                            <h4 class="box-title"><strong> Hathaway</strong></h4>
                                            <div class="d-flex text-warning align-items-center">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-empty"></i>
                                                <span class="text-fade ml-10">4.5</span>
                                            </div>
                                        </div>

                                        <div class="box-body">
                                            This show had me laughing for hours. Like ugly laughing. Like
                                            people
                                            from across the street knocking on my door asking if I'm okay
                                            because I was laughing so hard. I saw someone say there is no
                                            growth
                                            which is actually so untrue. I'm sure this show isn't intended
                                            for
                                            prudish people, it's about a woman who befriends a sex doll. You
                                            know what you're in for and it's so much more amazing than I
                                            thought!!

                                            The fact they got SO MUCH into less than 10 minutes is
                                            incredible.
                                        </div>
                                    </div>

                                    <div class="box box-solid bg-secondary">
                                        <div class="box-header">
                                            <h4 class="box-title"><strong>AnH</strong></h4>
                                            <div class="d-flex text-warning align-items-center">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-empty"></i>
                                                <span class="text-fade ml-10">4.5</span>
                                            </div>
                                        </div>

                                        <div class="box-body">
                                            This show had me laughing for hours. Like ugly laughing. Like
                                            people
                                            from across the street knocking on my door asking if I'm okay
                                            because I was laughing so hard. I saw someone say there is no
                                            growth
                                            which is actually so untrue. I'm sure this show isn't intended
                                            for
                                            prudish people, it's about a woman who befriends a sex doll. You
                                            know what you're in for and it's so much more amazing than I
                                            thought!!

                                            The fact they got SO MUCH into less than 10 minutes is
                                            incredible.
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}