{% extends "template.twig" %}

{% block title %}Admin | Categories List{% endblock %}
{% block content %}
<div class="row">
    {% for category in categories %}
    <div class="col-xxxl-4 col-xl-6 col-lg-6 col-12">
        <a href="categories_details.php?catid={{category[0]}}">
            <div class="box overflow-h">
                <div class="box-body p-0">
                    <div>
                        <img class="rounded img-fluid" src={{category[2]}} alt="">
                    </div>
                </div>
                <div class="box-body">
                    <div class="info-content">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="mb-10 mt-0">{{category[1]}}</h4>
                            <div class="d-flex align-items-center">
                                <span class="font-size-18 mx-10 text-primary icon-Burger"><span
                                        class="path1"></span><span class="path2"></span><span
                                        class="path3"></span></span>
                                <h5 class="text-black mb-0">{{category[3]}} Items</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}