{% extends "template.twig" %}

{% block title %}Admin | Add Product{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="box">
            <div class="box-body">
                <form action="product_create.php" method="POST" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control" placeholder="Product Name" name="pdname"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ingredients</label>
                                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter ingredients"
                                        name="ingredients" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Benefits</label>
                                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter benefits"
                                        name="benefits" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Application</label>
                                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter application"
                                        name="application" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Categories</label>
                                    <select class="form-control select2" multiple data-placeholder="Select categories"
                                        style="width: 100%;" name="categories[]">
                                        {% for category in categories %}
                                        <option value={{category[0]}}>{{category[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Concerns</label>
                                    <select class="form-control select2" multiple data-placeholder="Select concerns"
                                        style="width: 100%;" name="concerns[]">
                                        {% for concern in concerns %}
                                        <option value={{concern[0]}}>{{concern[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tags-default form-group">
                                    <label>Tags</label><br>
                                    <input type="text" placeholder="Enter comma separated tags" data-role="tagsinput"
                                        name="tags" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Discount</label>
                                    <input type="number" class="form-control" value="10" min="0" max="100"
                                        name="discount" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>30 ml</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹
                                        </div>
                                        <input type="number" class="form-control" placeholder="0" value="0" name="30ml"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>50 ml</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹
                                        </div>
                                        <input type="number" class="form-control" placeholder="10" value="0" name="50ml"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>100 ml</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹
                                        </div>
                                        <input type="number" class="form-control" placeholder="10" value="0"
                                            name="100ml" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>250 ml</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹
                                        </div>
                                        <input type="number" class="form-control" placeholder="10" value="0"
                                            name="250ml" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Media Files</label>
                                <div class="product-img text-left">
                                    <div class="btn btn-light mb-20">
                                        <input type="file" class="upload form-control" required multiple name="media[]"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <div class="radio-list">
                                    <label class="radio-inline p-0 mr-10">
                                        <div class="radio radio-info">
                                            <input type="radio" name="radio" name="radio1" value="option1">
                                            <label for="radio1">Published</label>
                                        </div>
                                    </label>
                                    <label class="radio-inline">
                                        <div class="radio radio-info">
                                            <input type="radio" name="radio" name="radio2" value="option2">
                                            <label for="radio2">Draft</label>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div> #}
                    </div>
                    <div class="form-actions mt-10">
                        <center><button type="submit" class="btn btn-primary"> <i class="fa fa-check"></i>Add
                                product</button></center>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}